/*==================================
Datepicker
==================================*/
.ui-datepicker-trigger {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background-color: transparent; }

.ui-datepicker {
  padding: 0;
  display: none;
  background-color: #fff; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  box-sizing: border-box;
  height: 26px;
  padding: 3px;
  background-color: #3c404a; }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 1px;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-prev {
  left: 3px; }

.ui-datepicker .ui-datepicker-next {
  right: 3px; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  text-indent: -1000em;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 5px;
  height: 9px;
  margin-left: 0;
  margin-top: -2px;
  background: url(../images/form/datepicker.png) no-repeat; }

.ui-datepicker .ui-datepicker-prev span {
  background-position: left top; }

.ui-datepicker .ui-datepicker-next span {
  background-position: -25px top; }

.ui-datepicker .ui-datepicker-title {
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month {
  margin-right: 10px; }

.ui-datepicker table {
  width: 100%;
  font-size: 12px;
  line-height: 1.33em;
  margin: 7px 0;
  border-collapse: collapse; }

.ui-datepicker th {
  font-size: 12px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #656972;
  background-color: #757984; }

.ui-datepicker td {
  width: 29px;
  height: 24px;
  border: 1px solid #cccdcf; }

.ui-datepicker td span,
.ui-datepicker td a {
  font-size: 11px;
  line-height: 24px;
  color: #777;
  display: block;
  text-align: center; }

.ui-datepicker td:hover {
  background-color: #e60827; }

.ui-datepicker td:hover span,
.ui-datepicker td:hover a,
.ui-datepicker td:hover.ui-datepicker-current-day a {
  color: #fff; }

.ui-datepicker td.ui-datepicker-current-day a {
  font-weight: bold;
  color: #fb6c07; }

.ui-datepicker td.ui-datepicker-today {
  background-color: #e60827; }

.ui-datepicker td.ui-datepicker-today a {
  color: #fff;
  font-weight: bold; }

.ui-datepicker td.ui-state-disabled {
  background-color: #f5f5f5; }

.ui-datepicker .ui-datepicker-buttonpane {
  overflow: hidden;
  padding: 7px;
  border: 1px solid #d9d9d9;
  border-top-width: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  font-size: 11px;
  color: #fff;
  float: right;
  padding: 5px 8px;
  cursor: pointer;
  overflow: visible;
  border: 0;
  background-color: #fb6c07; }

.ui-datepicker .ui-datepicker-buttonpane button:hover {
  background-color: #ea6405; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
  background-color: #757984; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current:hover {
  background-color: #5e616b; }

/* input */
input[type="text"].hasDatepicker {
  margin-right: 5px;
  vertical-align: middle; }

/**
 * Datepicker - override(...)
 * datepicker.scss
 * --------------------------------------------------
 */
.search_periods {
  display: inline-block; }
  .search_periods.active .search_periods_expand {
    float: right;
    margin-left: 5px;
    display: block; }
  .search_periods_expand {
    display: none; }

.ui-datepicker.ui-corner-all, .ui-datepicker.ui-corner-bottom, .ui-datepicker.ui-corner-right, .ui-datepicker.ui-corner-br {
  border-radius: 0; }

.ui-datepicker {
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.1); }
  .ui-datepicker:empty {
    display: none; }
  .ui-datepicker .ui-datepicker-header {
    height: 30px;
    background-color: #d8d8d8;
    border-width: 0; }
    .ui-datepicker .ui-datepicker-header.ui-corner-all, .ui-datepicker .ui-datepicker-header.ui-corner-bottom, .ui-datepicker .ui-datepicker-header.ui-corner-right, .ui-datepicker .ui-datepicker-header.ui-corner-br {
      border-radius: 0; }
    .ui-datepicker .ui-datepicker-header .ui-state-hover,
    .ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-hover,
    .ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-hover,
    .ui-datepicker .ui-datepicker-header .ui-state-focus,
    .ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-focus,
    .ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-focus {
      border-width: 0;
      background-color: transparent; }
  .ui-datepicker .ui-datepicker-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #000; }

.ui-datepicker th {
  display: none;
  visibility: hidden; }

.ui-datepicker td {
  border: none;
  padding: 0; }
  .ui-datepicker td.ui-datepicker-week-end .ui-state-default {
    color: #df4523; }
  .ui-datepicker td.ui-datepicker-week-end:last-child .ui-state-default {
    color: #3586d7; }
  .ui-datepicker td:hover.ui-datepicker-week-end {
    background-color: #df4523; }
    .ui-datepicker td:hover.ui-datepicker-week-end .ui-state-default {
      color: #fff; }
    .ui-datepicker td:hover.ui-datepicker-week-end:last-child .ui-state-default {
      color: #fff; }
  .ui-datepicker td.ui-state-disabled {
    visibility: hidden; }

.ui-datepicker .ui-state-default {
  font-size: 12px;
  line-height: 21px;
  color: #333;
  border-width: 0;
  background: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-width: 1px 0 0 0;
  margin: 0 7px;
  background-color: transparent; }
  .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    font-size: 12px;
    line-height: 1.33;
    padding: 5px 12px;
    margin: 0;
    float: none;
    background-color: #808080;
    border-radius: 0; }

.ui-datepicker td.ui-datepicker-today,
.ui-datepicker td:hover {
  background-color: #df4523; }

.ui-datepicker-close {
  display: none; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  width: 5px;
  height: 7px;
  background: url(../images/common/datepicker.png) no-repeat; }

.ui-datepicker .ui-datepicker-prev span {
  background-position: left top; }

.ui-datepicker .ui-datepicker-next span {
  background-position: -24px top; }
